<div class="grid3 first">
  <aside>
    <img src="{{ site.url }}{{ site.baseurl }}/img/build-canal-save-chicago.png" />
    <ul>
      <li{% if page.title == "Building The Canal To Save Chicago" %} class="current"{% endif %}>
        <a href="{{ site.url }}{{ site.baseurl }}/build-canal-save-chicago/overview/">Overview</a>
      </li>
      <li{% if page.title == "Building The Canal To Save Chicago - Exerpt" %} class="current"{% endif %}>
        <a href="{{ site.url }}{{ site.baseurl }}/build-canal-save-chicago/exerpt/">Exerpt</a>
      </li>
    </ul>
  </aside>
</div>
